---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
    args: [--assume-in-merge]
  - id: detect-private-key
  - id: end-of-file-fixer
    exclude: '^.*.md5$'
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/Yelp/detect-secrets
  rev: v1.4.0
  hooks:
  - id: detect-secrets
    args: ['--baseline', '.secrets.baseline']

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.1
  hooks:
  - id: gitleaks

- repo: https://github.com/ansible-community/ansible-lint
  rev: v6.22.1
  hooks:
  - id: ansible-lint
    entry: python3 -m ansiblelint --force-color -c .ansible-lint
    pass_filenames: false
    always_run: true
    additional_dependencies:
    - ansible-core>=2.15.8

- repo: https://github.com/markdownlint/markdownlint.git
  rev: v0.13.0
  hooks:
  - id: markdownlint
    args: [-s, .markdownlint.rb]
    exclude: "docs/_sidebar.md"

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.33.0
  hooks:
  - id: yamllint
