{% include 'docker-compose-parts/header.j2' %}
{% for container in containers %}

{% include 'docker-compose-parts/%s.j2' % container %}
{% endfor %}

{% if container_volumes is defined and container_volumes | length > 0 %}
################################################################################
# Volumes
################################################################################
volumes:
{% for volume in container_volumes %}
  {{ volume }}:
{% endfor %}
{% endif %}
################################################################################
# Networks
################################################################################
networks:
  {{ docker_frontend_network }}:
    external: true
  {{ docker_backend_network }}:
    external: true
################################################################################
