  adminer:
    image: adminer:{{ adminer_version | default("latest", true) }}
    hostname: adminer
    environment:
      TZ: {{ timezone }}
    labels:
      traefik.enable: "true"
      traefik.http.routers.adminer.rule: PathPrefix(`/adminer`)
      traefik.http.routers.adminer.entrypoints: websecure
      traefik.http.services.adminer.loadbalancer.server.port: 8080
    cpu_shares: 512
    restart: on-failure:5
    security_opt:
      - no-new-privileges
    pids_limit: 50
    mem_limit: 100m
    networks:
      - {{ docker_frontend_network }}
      - {{ docker_backend_network }}
################################################################################
