###############################################################################
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    environment:
      PGID: "1000"
      COLLECTIONS: "{{ crowdsec_collections | join(' ') }}"
    pids_limit: 50
    cpu_shares: 512
    mem_limit: 1g
    restart: on-failure:5
    security_opt:
      - no-new-privileges
    read_only: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/{{ project_name }}/crowdsec/config:/etc/crowdsec
      - crowdsec_data:/var/lib/crowdsec/data
      - crowdsec_staging:/staging
      - /var/log:/var/log:ro
      - /tmp
    ports:
      - "127.0.0.1:{{ crowdsec_exposed_port | default("8080", true)  }}:8080"
    networks:
      - {{ docker_backend_network }}
