###############################################################################
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    environment:
      PGID: "1000"
      COLLECTIONS: "{{ crowdsec_collections | join(' ') }}"
    pids_limit: 50
    cpu_shares: 512
    mem_limit: 1g
    restart: on-failure:5
    security_opt:
      - no-new-privileges
    read_only: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/{{ project_name }}/crowdsec/config:/etc/crowdsec
      - crowdsec_data:/var/lib/crowdsec/data
      - /var/log:/var/log:ro
      - /tmp
    networks:
      - {{ docker_backend_network }}
###############################################################################
  crowdsec-bouncer-traefik:
    image: fbonalair/traefik-crowdsec-bouncer:latest
    environment:
      CROWDSEC_BOUNCER_API_KEY: {{ crowdsec_bouncer_api_key }}
      CROWDSEC_AGENT_HOST: crowdsec:8080
      GIN_MODE: release
      TRUSTED_PROXIES: {{ docker_pool_base }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.crowdsec-bouncer.forwardauth.address=http://crowdsec-bouncer-traefik:8080/api/v1/forwardAuth"
      - "traefik.http.middlewares.crowdsec-bouncer.forwardauth.trustForwardHeader=true"
      - "traefik.http.services.crowdsec-bouncer.loadbalancer.server.port=8080"
    depends_on:
      - crowdsec
    pids_limit: 50
    cpu_shares: 512
    mem_limit: 1g
    restart: on-failure:5
    security_opt:
      - no-new-privileges
    read_only: true
    networks:
      - {{ docker_frontend_network }}
      - {{ docker_backend_network }}
