---
###############################################################################
#                             ###################
#                             # !!! WARNING !!! #
#                             ###################
#
# {{ ansible_managed }}
###############################################################################
name: {{ project_name }}
services:
###############################################################################
# Services
###############################################################################
