################################################################################
  powerdns-admin:
    image: powerdnsadmin/pda-legacy:latest
    environment:
      SQLALCHEMY_DATABASE_URI: mysql://{{ mariadb_user }}:{{ mariadb_user_password }}@{{ mariadb_container_name }}/{{ mariadb_dbname }}
      GUINCORN_TIMEOUT: 60
      GUNICORN_WORKERS: 2
      GUNICORN_LOGLEVEL: WARNING
      MYSQL_PASSWORD: {{ mariadb_user_password }}
    labels:
      traefik.docker.network: {{ docker_frontend_network }}
      traefik.enable: "true"
      # Routers
{% if ssl_enabled | default(false, true) %}
      traefik.http.routers.dns.entrypoints: websecure
      traefik.http.routers.dns.tls: "true"
      traefik.http.routers.dns.tls.certresolver: letsencrypt
{% else %}
      traefik.http.routers.dns.entrypoints: web
{% endif %}
      traefik.http.routers.dns.rule: >-
{% for rule in powerdns_admin_traefik_router_rules %}
        Host(`{{ rule }}`) {{ "||" if not loop.last else "" }}
{% endfor %}
      # Services
      traefik.http.services.dns.loadbalancer.server.port: 80
    depends_on:
      {{ mariadb_container_name }}:
        condition: "service_healthy"
    restart: on-failure:5
    security_opt:
      - no-new-privileges
    cpu_shares: {{ powerdns_admin_cpu_shares | default(512, true) }}
    pids_limit: {{ powerdns_admin_pids_limits | default(10, true) }}
    mem_limit: {{ powerdns_admin_mem_limit | default('200m', true) }}
    networks:
      - {{ docker_frontend_network }}
      - {{ docker_backend_network }}
