# 5.2.4 Ensure SSH access is limited
AllowUsers {% for user in users %}
 {{ user.username }}
{% endfor %}
# 5.2.5 Ensure SSH LogLevel is appropriate
LogLevel INFO
# 5.2.6 Ensure SSH PAM is enabled
UsePAM yes
# 5.2.7 Ensure SSH root login is disabled
PermitRootLogin no
# 5.2.8 Ensure SSH HostbasedAuthentication is disabled
HostbasedAuthentication no
# 5.2.9 Ensure SSH PermitEmptyPasswords is disabled
PermitEmptyPasswords no
# 5.2.10 Ensure SSH PermitUserEnvironment is disabled
PermitUserEnvironment no
# 5.2.11 Ensure SSH IgnoreRhosts is enabled
IgnoreRhosts yes
# 5.2.12 Ensure SSH X11 forwarding is disabled
X11Forwarding no
# 5.2.13 Ensure only strong Ciphers are used
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
# 5.2.14 Ensure only strong MAC algorithms are used
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
# 5.2.15 Ensure only strong Key Exchange algorithms are used
KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
# 5.2.16 Ensure SSH AllowTcpForwarding is disabled
AllowTcpForwarding no
# 5.2.17 Ensure SSH warning banner is configured
Banner /etc/issue.net
# 5.2.18 Ensure SSH MaxAuthTries is set to 4 or less
MaxAuthTries 3
# 5.2.19 Ensure SSH MaxStartups is configured
MaxStartups 10:30:60
# 5.2.20 Ensure SSH MaxSessions is set to 10 or less
MaxSessions 5
# 5.2.21 Ensure SSH LoginGraceTime is set to one minute or less
LoginGraceTime 30
# 5.2.22 Ensure SSH Idle Timeout Interval is configured
ClientAliveInterval 15
ClientAliveCountMax 3

# We only allow ssh key authentication
PasswordAuthentication no

Include /etc/ssh/sshd_config.d/*.conf
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
